__pycache__/
*.pyc
.env
.poetry/
*.pdf
!docs/fixtures/*.pdf
.ipynb_checkpoints/
qdrant/
qdrant_local/
qdrant_storage/
data.json
node_modules/
.next/
.cache/
.pre-commit-cache/

!data/qdrant/
!data/qdrant/.gitkeep
/data/*.db
/logs/
data/uploads/

